<div *ngIf="isLoading" style="text-align: center;">
  <app-spinner-loading></app-spinner-loading>
</div>

<div class="mt-5 alert alert-danger" role="alert" *ngIf="error">
  <p>
    {{error}}
  </p>
</div>
<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <div class="form-row">
      <div 
      class="form-group col-md-6"
      *ngIf="!isLoginMode">
      <label for="surname">Surname</label>
      <input 
        type="text" 
        class="form-control" 
        id="surname" 
        aria-describedby="surnameHelp" 
        placeholder="Enter surname"
        name="surname"
        required
        ngModel
        >
      </div>
      <div 
        class="form-group col-md-6"
        *ngIf="!isLoginMode">
        <label for="name">Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="name" 
          aria-describedby="nameHelp" 
          placeholder="Enter name"
          name="name"
          required
          ngModel
          >
      </div>
      
    </div>
    <div class="form-row">
      <div 
        class="form-group col-md-6"
        *ngIf="!isLoginMode">
        <label for="phone">Phone</label>
        <input 
          type="text" 
          class="form-control" 
          id="phone" 
          aria-describedby="phoneHelp" 
          placeholder="Enter phone"
          name="phone"
          required
          ngModel
          >
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email address</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          aria-describedby="emailHelp" 
          placeholder="Enter email"
          name="email"
          required
          ngModel
          email>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" >
        <label for="password">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          placeholder="Password"
          required
          minlength="6"
          ngModel
          name="password"
          >
      </div>
      <div class="form-group col-md-6" *ngIf="!isLoginMode">
        <label for="picture">Picture</label>
        <input type="file" class="form-control-file" id="picture" name="picture" ngModel #image (change)="preview(image.files)">
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <img  [src]="base64"  height="150" width="200px" *ngIf="base64"> <br/>
      </div>
    </div>
    <button 
      type="submit" 
      class="btn btn-primary"
      [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Registrate'}}</button> | 
    <button 
      type="button" 
      class="btn btn-secondary"
      (click)="onSwitchMode()"> Switch to {{ isLoginMode ? 'Registration' : 'Login' }}</button>
</form>